UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

GITHUB_ID=
GITHUB_SECRET=
NEXT_PUBLIC_ADMIN_EMAILS=

# Secret key
# generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=

# Mandatory next-auth URL for localhost
NEXTAUTH_URL=http://localhost:3000

# if you want to receive notifications on slack add webhook url
# https://api.slack.com/apps
WEBHOOK_URL=
